 /* remember to put in the fallbacks */
:root{
    --accent-color: #2E3D17;
}

body {
    margin:0;
}

/* universal selector */
* {
    font-family: "Winky Rough", sans-serif;
    box-sizing: border-box;
    font-style: normal;
}

 /* class  selector */
.sum {
    color: #2E3D17;
    margin: 0;
    padding: 1px 10px;
}

/* id selector */
#meeting1 {
    color: hsl(72, 73%, 22%);

    
}
#meeting1 h2 {
    text-decoration: dotted underline;
}

#meeting1 h2{
    text-decoration: dotted underline;
}

#meeting2 {
    color:rgb(0, 69, 69);
    & h2{
        text-decoration:overline;
    }
}

#meeting3 {
    color:rgb(0, 8, 84);
    & h2{
        text-decoration: underline;
    }
}

/* element selector */
h1 {
    color: lightgoldenrodyellow;
    font-size: 2rem;
}
h2 {
    font-size: 2.3em;
    text-align: center;
}

/* attribute selector */
li[attr="forgot"] {
    text-decoration: line-through;
}

/* pseudo-class selector */
details:hover { 
    background-color: rgb(152, 192, 169);
}

/* selector list */
h3, h4 {
    color: pink;
}

/* child combinator */
span > a {
    color: #FFC0CB;
    text-decoration: none;
    padding: 0 10px;
}

/* adjacent sibling combinator */
h3 + p {
    color: green;
}


/* :has() selector */
ul:has(li) {
    color: gray;
}

/* descendant combinator */
.agenda li {
    color: #7b34c2;
    color: color(srgb 0.533 0.471 0.765 / 0.8);
}


/* general sibling combinator */
ul ~ li {
    color: #ad4ead;
    color: color-mix(in srgb, purple 60%, white 40%);
}

/* combining two selectors */
ul.topics {
    color: purple;
}

/* nested selectors */
.attendance {
    background-color: lavender;
    & .attendees>li:hover{
        background-color: lightgreen;
    }
}

nav {
    background-color: #2E3D17;
    position: fixed;
    top: 0;
    width: 100%;
    
    color:white;
    padding: 14px 20px;
    z-index: 10;
    box-sizing: border-box;
    align-items: center;
    
    
}
nav h1 {
    text-align: center;
}

nav #all-meeting{
    display: flex; 
    /* three items */
    justify-content: center;
}

h1 {
    font-size: 2rem;
}

#all-meeting {
    margin-top: 8px;
    font-size: 1rem;

}
#title-sum {
    padding-top: 120px;
}

#class-sum {
    /* three items */
    padding-top: 20px;
    display:flex;
    justify-content: center;
    
}

#img-container {
    display: flex;
    align-items: center;
    justify-content: center;

}    
#img-container img {
    width: 300pt;
    height: auto;
}

/* ensures that the video doesn't take up more than 400 px */
video{
    width:30%;  
    height:auto;
    max-height: 400px;
}
h3 {
    text-decoration: dashed underline;
    font-size: 1.5rem;
}
audio {
    width:80mm;
    height:10mm;

}

/* ensures that when the screen is smaller, the width doesn't exceed 300 px */
#counter {
    width:30%;
    min-width: 250px;
    height: 50px;
}

/* will change counter to black box and pink text */
#counter:active {
    background-color: black;
    color:#FFC0CB;
}

.new-topics, .qcc, .unfinished {
    display:inline-block;
    padding: 5px 10px 5px 10px;
    margin: 10px 20px 0 20px;
}

.agenda, .attendance {
    display: inline-block;
    padding-top:5px;
    padding-bottom:2px;
    padding-right:20px;
    padding-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:40px;
    margin-left:40px;
}

/* turn em and strong elements(originally inline elements) into block elements */
em,strong{
    display:block;
}

/* three items */
#desserts {
    height: 850px;
    margin:auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#desserts img {
    margin: 10px;
    padding: 10px;
    background-color: #FFC0CB;
    border-radius: 5px;
}


p {
    margin-left: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 20px 20px;
    column-gap: 10px;
    row-gap: 20px;
    justify-items: end;
    padding: 10px;
}

.grid-items {
    background-color: #ffcdb1;
    padding: 3px;
    /* fallback */
    /* color: var(pink, var(--main-color, purple)); */
    color: var(--accent-color, black);
}

textarea {

    border-style: dotted;
    border-color: #FFC0CB;
    border-radius: 10px;
    border-width: 2px;
    
}

fieldset {
    border-bottom: 4px solid #FFC0CB;
    border-top: 4px solid #FFC0CB;
    border-right: 4px solid #FFC0CB;
    border-left: 4px solid #FFC0CB;
}

select {
    border: 5px dashed #FFC0CB;
    border-radius: 7px;
}

input {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-top-color: aqua;
    border-bottom-color: magenta;
    border-right-color: blue;
    border-left-color: green;
    border-top-style: solid;
    border-bottom-style: dashed;
    border-right-style: dotted;
    border-left-style: double;
    border-radius: 3px;
}

@media (max-width: 1023px){
    *{
        font-size: 1.08em;
    }
    img{
        width:200px;
        height: auto;
    }
    video{
        width:400px;
    }
    audio{
        height: 80px;
        width:400px;
    }
    #img-container img {
        width: 400pt;
        height: auto;
    }
}

@media (max-width: 767px){

    nav{
        width:100%;
    }
    #class-sum{
        font-size: 1em;
        flex-direction: column;
        align-items: center;
    }
    h2,h3 {
        font-size: 1.7em;
    }
    audio{
        width:30%;
    }
    img{
        width:150px;
        height: auto;
    }
    #img-container img {
        width: 200pt;
        height: auto;
    }
    video{
        width:200px;
    }
    audio{
        width:300px;
    }
}